<ion-header >
  <ion-toolbar color="secondary">
    @if(hasMenuButton){
      <ion-menu-button slot="start" class="menu-button"></ion-menu-button>
    }
    @if(hasBackButton){
      <app-back-button slot="start"></app-back-button>
    }
      <ion-title>
        {{ title }}
      </ion-title>
      <div slot="secondary" class="header-logo">
        c l u b
      </div>
      @if(hasCartButton){
        <ion-buttons slot="end" [routerLink]="['/','products', 'cart']">
          <ion-button 
            color="primary" 
            size="large"
            class="button cart-button">
            <ion-icon slot="start" name="cart-outline" class="icon"></ion-icon>
          </ion-button>
          @if(productsInCart > 0){
            <ion-badge class="badge">
              <ion-text class="text">{{ productsInCart }}</ion-text>
            </ion-badge>
          }
        </ion-buttons>
      }
  </ion-toolbar>
</ion-header>