<ion-content [fullscreen]="true">
  <ion-header slot="fixed" class="ion-no-border detail-header">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start" mode="md" class="button">
        <ion-back-button defaultHref="/products" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="product-container">
    <div [style.backgroundImage]="'url('+product?.image+')'" class="product-image">
    </div>
    <ion-item lines="none">
      <ion-label class="label">
        <div class="title-container">
          <span class="product-icon-container flex-center">
            <img [src]="product?.icon" class="custom-icon"/>
          </span>
          <h2 class="product-title">
            {{ product?.productName }}
          </h2>
        </div>
        
        <p class="product-description">
          {{ product?.description }}
        </p>
        <ion-text class="product-price">
          {{ product?.price | currency:"MXN" }}
        </ion-text>
      </ion-label>  
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      size="large"
      expand="block"
      [strong]="true"
      mode="ios"
      [color]="addToCart? 'success' : 'primary'"
      (click)="addProduct()"
    >
      <ion-icon slot="start" name="cart-outline"></ion-icon>
      <ion-text>{{addToCart || 'Agregar al carrito' }}</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>