.card-container{
    .card{
        height: 16rem;
        margin: 0.3rem;
        border-radius: 3px;
        box-shadow: none;
        text-align: center;

        .product-thumbnail{
            width: 100%;
            height: 12rem;
            margin-bottom: 12px;
        }

        .product-name{
            font-size: 0.8m;
            font-weight: bold;
            padding: 5px;
        }
        .product-price{
            font-size: 1rem;        
        }
        &:hover{
            cursor: pointer;
            background-color: var(--ion-color-primary-tint);
        }
    }
    
}

.item{
    .product-thumbnail{
        margin-right: 12px;
    }
    .product-name{
        font-weight: bold;
    }
    .item-container{
        color:white;
        background-color: var(--ion-color-primary);
        width:100%;
        display: flex;
        align-items: center;
    }
    :hover{
        cursor: pointer;
        background-color: var( --ion-color-primary-tint);
    }
}

@media (min-width: 769px) {
    .content{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1rem;

        .product-name{
            font-size: 1rem;
        }
        .product-price{
            font-size: 1.2rem;
        }
    }

    .item{
        margin-left: 15%;
        margin-right: 15%;
        .product-thumbnail{
            height: 6rem;
            width: 6rem;
            margin-bottom: 12px;
        } 
        .product-name{
            font-size: 1rem;
        }
        .product-price{
            font-size: 1.2rem;
        }
    }
}