.header-container{
    display: flex;
    align-items: center;
    margin-left: 5px;
    .icon{
        font-size: 2.5rem;
        margin-right: 4px;
    }
}

.menu-items{
    letter-spacing: 0.5px;
    .item{
        --background: var(--ion-color-primary);
        .icon, .label{
            color: var(--ion-color-primary-contrast);
        }
        &:hover{
            --background: var(--ion-color-primary-tint);
        }
    }
    
    .selected{
        --background: var(--ion-color-primary-contrast);
        .icon, .label{
            color: var(--ion-color-primary);
        }
        &:hover{
            --background: var(--ion-color-primary-contrast);
        }
    }
    
}


